## 1.Degreed Users Group Creation App

In [1]:
import pandas as pd
from datetime import date
import os
import subprocess

In [2]:
data = pd.read_excel (r'C:\Users\guibo\OneDrive\Área de Trabalho\Degreed\User_file template_TIC.xlsx', sheet_name='User List')
rules = pd.read_excel (r'C:\Users\guibo\OneDrive\Área de Trabalho\Degreed\BusinessRules Template_TIC.xlsx', sheet_name='Business Rules')

## 2.Visualising User Data

In [3]:
data

,UniqueID,FullName,FirstName,LastName,Email,ManagerUniqueID,Delete,Department,Hire Date,Office Location,Business Unit,People Manager
0,173657,Kim Blank,Kim,Blank,kim.blank@Acme.com,11034,N,Procurement,2004-12-01,"Beijing, China",Finance,Y
1,173658,Jeff Shilling,Jeff,Shilling,jeff.shilling@acme.com,11587,N,Lead Sourcing,2010-01-08,"London, UK",Sales,Y
2,173659,Nancy Barnes,Nancy,Barnes,nancy.barnes@acme.com,10426,N,Supply Chain,2019-06-01,"Tokyo, Japan",Production,N
3,173660,Hank Edwards,Hank,Edwards,hank.edwards@acme.com,10033,N,Talent Acquisition,2003-03-05,"Sao Paulo, Brazil",HR,N
4,173661,Amy Cuth,Amy,Cuth,amy.cuth@acme.com,14422,N,Digital,2018-05-05,"Mexico City, Mexico",Marketing,Y
5,173662,Jaylan Walter,Jaylan,Walter,jaylan.walter@acme.com,12256,N,FP &A,2019-06-01,"New York, NY",Finance,N
6,172663,Nora Harrell,Nora,Harrell,nora.harrell@acme.com,54956,N,Field,2016-02-01,"Toronto, Canada",Sales,Y
7,173664,Carlos McCann,Carlos,McCann,carlos.mccann@acme.com,98122,N,Learning & Development,2018-10-02,"Bangalore, India",HR,Y
8,173665,Kailee Johnson,Kailee,Johnson,kailee.johnson@acme.com,98118,N,Supply Chain,2003-12-01,"Los Angeles, CA",Production,N
9,173666,Mathias Villegas,Mathias,Villegas,mathias.villegas@acme.com,11053,N,Digital,2003-12-01,"Chicago, IL",Marketing,N
10,173667,Mylie Carey,Mylie,Carey,mylie.carey@acme.com,11674,N,Procurement,2018-07-01,"Buenos Aires, Argentina",Finance,N
11,173668,Diego Duffy,Diego,Duffy,diego.duffy@acme.com,11987,N,Field,2018-10-01,"Mexico City, Mexico",Sales,N
12,173669,Fatime Guerra,Fatima,Guerra,fatima.guerra@acme.com,11524,N,QA,2015-04-02,"Sao Paulo, Brazil",Production,Y
13,173770,Joseph Osborn,Joseph,Osborn,joseph.osborn@acme.com,11999,N,Talent Acquisition,2004-12-01,"New York, NY",HR,Y
14,173771,Nora Sanchez,Nora,Sanchez,nora.sanchez@acme.com,11888,N,Partnerships & Alliances,2010-01-08,"New York, NY",Marketing,Y
15,173772,Derek Eaton,Derek,Eaton,derek.eaton@acme.com,11678,N,Accounting,2019-06-01,"Beijing, China",Finance,N
16,173773,Karlie Hartman,Karlie,Hartman,karlie.hartman@acme.com,11900,N,Field,2003-03-05,"Beijing, China",Sales,Y
17,173774,Killian Bryan,Killian,Bryan,killian.bryan@acme.com,11244,N,QA,2018-05-05,"Tokyo, Japan",Production,N
18,173775,Guillermo Josph,Guillermo,Joseph,guillermo.joseph@acme.com,11322,N,Learning & Development,2019-06-01,"Toronto, Canada",HR,Y
19,173776,Hafiz Luna,Hafiz,Luna,hafiz.luna@acme.com,11544,N,Digital,2016-02-01,"London, UK",Marketing,Y
20,173777,Kate Huffman,Kate,Huffman,kate.huffman@acme.com,16577,N,Accounting,2018-10-02,"Buenos Aires, Argentina",Finance,Y
21,173778,Danielle West,Danielle,West,danielle.west@acme.com,18395,N,Field,2003-12-01,"Los Angeles, CA",Sales,N
22,173779,Alex Pace,Alex,Pace,alex.pace@acme.com,19835,N,Supply Chain,2003-12-01,"Los Angeles, CA",Production,N
23,173780,Jamie Carr,Jamie,Carr,jamie.carr@acme.com,12245,N,Talent Acquisition,2018-07-01,"Toronto, Canada",HR,Y
24,173781,Natalya Lucero,Natalya,Lucero,natalya.lucero@acme.com,14556,N,Digital,2018-10-01,"New York, NY",Marketing,Y
25,173782,Guilherme Bortolaso,Guilherme,Bortolaso,gui.bortolaso@acme.com,14557,Y,Digital,2018-10-01,"New York, NY",Marketing,Y

### 2.1 Updating User Date Before Proceed

In [4]:
for i in range(len(data)):
    if data["Delete"][i] == "Y":
        data = data.drop([i])
data

,UniqueID,FullName,FirstName,LastName,Email,ManagerUniqueID,Delete,Department,Hire Date,Office Location,Business Unit,People Manager
0,173657,Kim Blank,Kim,Blank,kim.blank@Acme.com,11034,N,Procurement,2004-12-01,"Beijing, China",Finance,Y
1,173658,Jeff Shilling,Jeff,Shilling,jeff.shilling@acme.com,11587,N,Lead Sourcing,2010-01-08,"London, UK",Sales,Y
2,173659,Nancy Barnes,Nancy,Barnes,nancy.barnes@acme.com,10426,N,Supply Chain,2019-06-01,"Tokyo, Japan",Production,N
3,173660,Hank Edwards,Hank,Edwards,hank.edwards@acme.com,10033,N,Talent Acquisition,2003-03-05,"Sao Paulo, Brazil",HR,N
4,173661,Amy Cuth,Amy,Cuth,amy.cuth@acme.com,14422,N,Digital,2018-05-05,"Mexico City, Mexico",Marketing,Y
5,173662,Jaylan Walter,Jaylan,Walter,jaylan.walter@acme.com,12256,N,FP &A,2019-06-01,"New York, NY",Finance,N
6,172663,Nora Harrell,Nora,Harrell,nora.harrell@acme.com,54956,N,Field,2016-02-01,"Toronto, Canada",Sales,Y
7,173664,Carlos McCann,Carlos,McCann,carlos.mccann@acme.com,98122,N,Learning & Development,2018-10-02,"Bangalore, India",HR,Y
8,173665,Kailee Johnson,Kailee,Johnson,kailee.johnson@acme.com,98118,N,Supply Chain,2003-12-01,"Los Angeles, CA",Production,N
9,173666,Mathias Villegas,Mathias,Villegas,mathias.villegas@acme.com,11053,N,Digital,2003-12-01,"Chicago, IL",Marketing,N
10,173667,Mylie Carey,Mylie,Carey,mylie.carey@acme.com,11674,N,Procurement,2018-07-01,"Buenos Aires, Argentina",Finance,N
11,173668,Diego Duffy,Diego,Duffy,diego.duffy@acme.com,11987,N,Field,2018-10-01,"Mexico City, Mexico",Sales,N
12,173669,Fatime Guerra,Fatima,Guerra,fatima.guerra@acme.com,11524,N,QA,2015-04-02,"Sao Paulo, Brazil",Production,Y
13,173770,Joseph Osborn,Joseph,Osborn,joseph.osborn@acme.com,11999,N,Talent Acquisition,2004-12-01,"New York, NY",HR,Y
14,173771,Nora Sanchez,Nora,Sanchez,nora.sanchez@acme.com,11888,N,Partnerships & Alliances,2010-01-08,"New York, NY",Marketing,Y
15,173772,Derek Eaton,Derek,Eaton,derek.eaton@acme.com,11678,N,Accounting,2019-06-01,"Beijing, China",Finance,N
16,173773,Karlie Hartman,Karlie,Hartman,karlie.hartman@acme.com,11900,N,Field,2003-03-05,"Beijing, China",Sales,Y
17,173774,Killian Bryan,Killian,Bryan,killian.bryan@acme.com,11244,N,QA,2018-05-05,"Tokyo, Japan",Production,N
18,173775,Guillermo Josph,Guillermo,Joseph,guillermo.joseph@acme.com,11322,N,Learning & Development,2019-06-01,"Toronto, Canada",HR,Y
19,173776,Hafiz Luna,Hafiz,Luna,hafiz.luna@acme.com,11544,N,Digital,2016-02-01,"London, UK",Marketing,Y
20,173777,Kate Huffman,Kate,Huffman,kate.huffman@acme.com,16577,N,Accounting,2018-10-02,"Buenos Aires, Argentina",Finance,Y
21,173778,Danielle West,Danielle,West,danielle.west@acme.com,18395,N,Field,2003-12-01,"Los Angeles, CA",Sales,N
22,173779,Alex Pace,Alex,Pace,alex.pace@acme.com,19835,N,Supply Chain,2003-12-01,"Los Angeles, CA",Production,N
23,173780,Jamie Carr,Jamie,Carr,jamie.carr@acme.com,12245,N,Talent Acquisition,2018-07-01,"Toronto, Canada",HR,Y
24,173781,Natalya Lucero,Natalya,Lucero,natalya.lucero@acme.com,14556,N,Digital,2018-10-01,"New York, NY",Marketing,Y

## 3.Visualising Rules

In [5]:
rules

,Last Updated,if,op 1,equals 1,and if 2,op 2,equals 2,Groups,Delete
0,2020-05-12,UniqueID,>=,0,NaN,NaN,NaN,All Hands,N
1,2020-05-12,Business Unit,=,Finance,NaN,NaN,NaN,Finance,N
2,2020-05-12,Business Unit,=,Sales,NaN,NaN,NaN,Sales,N
3,2020-05-12,Business Unit,=,Production,NaN,NaN,NaN,Production,N
4,2020-05-12,Business Unit,=,HR,NaN,NaN,NaN,HR,N
5,2020-05-12,Business Unit,=,Marketing,NaN,NaN,NaN,Marketing,N
6,2020-05-12,People Manager,=,Y,NaN,NaN,NaN,Leadership Dev,N
7,2020-05-12,Office Location,=,"Beijing, China",NaN,NaN,NaN,APAC,N
8,2020-05-13,Office Location,=,"London, UK",NaN,NaN,NaN,EMEA,N
9,2020-05-14,Office Location,=,"Tokyo, Japan",NaN,NaN,NaN,APAC,N
10,2020-05-15,Office Location,=,"Sao Paulo, Brazil",NaN,NaN,NaN,LATAM,N
11,2020-05-16,Office Location,=,"Mexico City, Mexico",NaN,NaN,NaN,NAMER,N
12,2020-05-17,Office Location,=,"New York, NY",NaN,NaN,NaN,NAMER,N
13,2020-05-18,Office Location,=,"Toronto, Canada",NaN,NaN,NaN,NAMER,N
14,2020-05-19,Office Location,=,"Bangalore, India",NaN,NaN,NaN,APAC,N
15,2020-05-20,Office Location,=,"Los Angeles, CA",NaN,NaN,NaN,NAMER,N
16,2020-05-21,Office Location,=,"Chicago, IL",NaN,NaN,NaN,NAMER,N
17,2020-05-22,Office Location,=,"Buenos Aires, Argentina",NaN,NaN,NaN,LATAM,N

### 3.1 Updating Rules Before Proceed

In [6]:
for i in range(len(rules)):
    if rules["Delete"][i] == "Y":
        rules = rules.drop([i])
rules

,Last Updated,if,op 1,equals 1,and if 2,op 2,equals 2,Groups,Delete
0,2020-05-12,UniqueID,>=,0,NaN,NaN,NaN,All Hands,N
1,2020-05-12,Business Unit,=,Finance,NaN,NaN,NaN,Finance,N
2,2020-05-12,Business Unit,=,Sales,NaN,NaN,NaN,Sales,N
3,2020-05-12,Business Unit,=,Production,NaN,NaN,NaN,Production,N
4,2020-05-12,Business Unit,=,HR,NaN,NaN,NaN,HR,N
5,2020-05-12,Business Unit,=,Marketing,NaN,NaN,NaN,Marketing,N
6,2020-05-12,People Manager,=,Y,NaN,NaN,NaN,Leadership Dev,N
7,2020-05-12,Office Location,=,"Beijing, China",NaN,NaN,NaN,APAC,N
8,2020-05-13,Office Location,=,"London, UK",NaN,NaN,NaN,EMEA,N
9,2020-05-14,Office Location,=,"Tokyo, Japan",NaN,NaN,NaN,APAC,N
10,2020-05-15,Office Location,=,"Sao Paulo, Brazil",NaN,NaN,NaN,LATAM,N
11,2020-05-16,Office Location,=,"Mexico City, Mexico",NaN,NaN,NaN,NAMER,N
12,2020-05-17,Office Location,=,"New York, NY",NaN,NaN,NaN,NAMER,N
13,2020-05-18,Office Location,=,"Toronto, Canada",NaN,NaN,NaN,NAMER,N
14,2020-05-19,Office Location,=,"Bangalore, India",NaN,NaN,NaN,APAC,N
15,2020-05-20,Office Location,=,"Los Angeles, CA",NaN,NaN,NaN,NAMER,N
16,2020-05-21,Office Location,=,"Chicago, IL",NaN,NaN,NaN,NAMER,N
17,2020-05-22,Office Location,=,"Buenos Aires, Argentina",NaN,NaN,NaN,LATAM,N

## 4.Getting unique Business Units Groups

In [7]:
bu_unique = data["Business Unit"].unique()

In [8]:
bu_unique

array(['Finance', 'Sales', 'Production', 'HR', 'Marketing'], dtype=object)

## 5.Getting unique Region Groups

In [9]:
locations_unique = data["Office Location"].unique()

In [10]:
locations_unique = list(locations_unique)

In [11]:
locations_unique

['Beijing, China',
 'London, UK',
 'Tokyo, Japan',
 'Sao Paulo, Brazil',
 'Mexico City, Mexico',
 'New York, NY',
 'Toronto, Canada',
 'Bangalore, India',
 'Los Angeles, CA',
 'Chicago, IL',
 'Buenos Aires, Argentina']

In [12]:
regions = {'Sao Paulo, Brazil': 'LATAM',
           'Mexico City, Mexico': 'NAMER',
           'New York, NY': 'NAMER',
           'Toronto, Canada': 'NAMER',
           'Bangalore, India': 'APAC',
           'Los Angeles, CA': 'NAMER',
           'Chicago, IL': 'NAMER',
           'Buenos Aires, Argentina': 'LATAM',
           'Beijing, China': 'APAC',
           'Tokyo, Japan': 'APAC',
           'London, UK': 'EMEA'}

### 5.1 Function to get Region

In [13]:
def get_region(location):
    for key,value in regions.items():
        if key == location:
            return value

In [14]:
get_region('Toronto, Canada')

'NAMER'

## 6.Construction of User Groups file format

### 6.1 Inserting Basic Data

In [15]:
users_file = list(data.head())

### 6.2 Inserting "All Hands" Group

In [16]:
users_file.append("All Hands")

### 6.3 Insert Business Units Groups

In [17]:
for bu in bu_unique:
    users_file.append(bu)

### 6.4 Insert  Leadership Development Group

In [18]:
users_file.append("Leadership Dev")

### 6.5 Insert Region Groups

In [19]:
users_file.append("APAC")
users_file.append("EMEA")
users_file.append("LATAM")
users_file.append("NAMER")

## 7.Rules parser from Excel Business Rules Sheet - Sample Data

In [20]:
sample = data.iloc[10]
sample

UniqueID                            173667
FullName                       Mylie Carey
FirstName                            Mylie
LastName                             Carey
Email                 mylie.carey@acme.com
ManagerUniqueID                      11674
Delete                                   N
Department                     Procurement
Hire Date              2018-07-01 00:00:00
Office Location    Buenos Aires, Argentina
Business Unit                      Finance
People Manager                           N
Name: 10, dtype: object

In [21]:
assertion1 = []
assertion2 = []

In [22]:
def assert_rules_1(data):
    for if_s, opt_1, equals_1 in zip(rules['if'],rules['op 1'],rules['equals 1']): ## Assertion coverting from Excel
        if opt_1 == "=":
            if data[if_s] == equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == ">":
            if data[if_s] > equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == "<":
            if data[if_s] < equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == "<=":
            if data[if_s] <= equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
        elif opt_1 == ">=":
            if data[if_s] >= equals_1:
                assertion1.append(True)
            else:
                assertion1.append(False)
                
def assert_rules_2(data):
    for if_s, opt_2, equals_2 in zip(rules['and if 2'],rules['op 2'],rules['equals 2']): ## Assertion coverting from Excel
        if opt_2 == "=":
            if data[if_s] == equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == ">":
            if data[if_s] > equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == "<":
            if data[if_s] < equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == "<=":
            if data[if_s] <= equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        elif opt_2 == ">=":
            if data[if_s] >= equals_2:
                assertion2.append(True)
            else:
                assertion2.append(False)
        else:
            assertion2.append(True)

In [23]:
assert_rules_1(sample)
assert_rules_2(sample)

### 7.1 Assigment Groups Matrix - Business Rules Results

In [24]:
group_matrix = []
for assert_1,assert_2 in zip(assertion1,assertion2):
    if assert_1 and assert_2:
        group_matrix.append("Y")
    else:
        group_matrix.append("N")

## 8. Dataframe strucuture population Integrity Test

In [25]:
file = pd.DataFrame(columns = users_file)

In [26]:
temp_data=[]
for temp in sample:
    temp_data.append(temp)

In [27]:
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "All Hands":
        temp_data.append(group_matrix[i])
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "Finance":
        temp_data.append(group_matrix[i])
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "Sales":
        temp_data.append(group_matrix[i])
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "Production":
        temp_data.append(group_matrix[i])
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "HR":
        temp_data.append(group_matrix[i])
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "Marketing":
        temp_data.append(group_matrix[i])
for i,rule in zip(range(len(rules)),rules["Groups"]):
    if rule == "Leadership Dev":
        temp_data.append(group_matrix[i])

In [28]:
if get_region(sample["Office Location"]) == "LATAM":
    temp_data.extend(("N","N","Y","N"))
elif get_region(sample["Office Location"]) == "NAMER":
    temp_data.extend(("N","N","N","Y"))
elif get_region(sample["Office Location"]) == "APAC":
    temp_data.extend(("Y","N","N","N"))
elif get_region(sample["Office Location"]) == "EMEA":
    temp_data.extend(("N","Y","N","N"))

In [29]:
file.loc[len(file)] = temp_data

In [30]:
file

,UniqueID,FullName,FirstName,LastName,Email,ManagerUniqueID,Delete,Department,Hire Date,Office Location,...,Finance,Sales,Production,HR,Marketing,Leadership Dev,APAC,EMEA,LATAM,NAMER
0,173667,Mylie Carey,Mylie,Carey,mylie.carey@acme.com,11674,N,Procurement,2018-07-01,"Buenos Aires, Argentina",...,Y,N,N,N,N,N,N,N,Y,N

## 9. Populating Dataframe to CSV file

In [31]:
csv = pd.DataFrame(columns = users_file)

In [32]:
for i in range(len(data)):
    assertion1 = []
    assertion2 = []
    assert_rules_1(data.iloc[i])
    assert_rules_2(data.iloc[i])

    
    group_matrix = []
    for assert_1,assert_2 in zip(assertion1,assertion2):
        if assert_1 and assert_2:
            group_matrix.append("Y")
        else:
            group_matrix.append("N")
            
    temp_data=[]
    for temp in data.iloc[i]:
        temp_data.append(temp)
        
        
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "All Hands":
            temp_data.append(group_matrix[j])
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "Finance":
            temp_data.append(group_matrix[j])
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "Sales":
            temp_data.append(group_matrix[j])
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "Production":
            temp_data.append(group_matrix[j])
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "HR":
            temp_data.append(group_matrix[j])
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "Marketing":
            temp_data.append(group_matrix[j])
    for j,rule in zip(range(len(rules)),rules["Groups"]):
        if rule == "Leadership Dev":
            temp_data.append(group_matrix[j])
    
   
            
    if get_region(data["Office Location"][i]) == "LATAM":
        temp_data.extend(("N","N","Y","N"))
    elif get_region(data["Office Location"][i]) == "NAMER":
        temp_data.extend(("N","N","N","Y"))
    elif get_region(data["Office Location"][i]) == "APAC":
        temp_data.extend(("Y","N","N","N"))
    elif get_region(data["Office Location"][i]) == "EMEA":
        temp_data.extend(("N","Y","N","N"))
        
    csv.loc[len(csv)] = temp_data

In [33]:
csv

,UniqueID,FullName,FirstName,LastName,Email,ManagerUniqueID,Delete,Department,Hire Date,Office Location,...,Finance,Sales,Production,HR,Marketing,Leadership Dev,APAC,EMEA,LATAM,NAMER
0,173657,Kim Blank,Kim,Blank,kim.blank@Acme.com,11034,N,Procurement,2004-12-01,"Beijing, China",...,Y,N,N,N,N,Y,Y,N,N,N
1,173658,Jeff Shilling,Jeff,Shilling,jeff.shilling@acme.com,11587,N,Lead Sourcing,2010-01-08,"London, UK",...,N,Y,N,N,N,Y,N,Y,N,N
2,173659,Nancy Barnes,Nancy,Barnes,nancy.barnes@acme.com,10426,N,Supply Chain,2019-06-01,"Tokyo, Japan",...,N,N,Y,N,N,N,Y,N,N,N
3,173660,Hank Edwards,Hank,Edwards,hank.edwards@acme.com,10033,N,Talent Acquisition,2003-03-05,"Sao Paulo, Brazil",...,N,N,N,Y,N,N,N,N,Y,N
4,173661,Amy Cuth,Amy,Cuth,amy.cuth@acme.com,14422,N,Digital,2018-05-05,"Mexico City, Mexico",...,N,N,N,N,Y,Y,N,N,N,Y
5,173662,Jaylan Walter,Jaylan,Walter,jaylan.walter@acme.com,12256,N,FP &A,2019-06-01,"New York, NY",...,Y,N,N,N,N,N,N,N,N,Y
6,172663,Nora Harrell,Nora,Harrell,nora.harrell@acme.com,54956,N,Field,2016-02-01,"Toronto, Canada",...,N,Y,N,N,N,Y,N,N,N,Y
7,173664,Carlos McCann,Carlos,McCann,carlos.mccann@acme.com,98122,N,Learning & Development,2018-10-02,"Bangalore, India",...,N,N,N,Y,N,Y,Y,N,N,N
8,173665,Kailee Johnson,Kailee,Johnson,kailee.johnson@acme.com,98118,N,Supply Chain,2003-12-01,"Los Angeles, CA",...,N,N,Y,N,N,N,N,N,N,Y
9,173666,Mathias Villegas,Mathias,Villegas,mathias.villegas@acme.com,11053,N,Digital,2003-12-01,"Chicago, IL",...,N,N,N,N,Y,N,N,N,N,Y
10,173667,Mylie Carey,Mylie,Carey,mylie.carey@acme.com,11674,N,Procurement,2018-07-01,"Buenos Aires, Argentina",...,Y,N,N,N,N,N,N,N,Y,N
11,173668,Diego Duffy,Diego,Duffy,diego.duffy@acme.com,11987,N,Field,2018-10-01,"Mexico City, Mexico",...,N,Y,N,N,N,N,N,N,N,Y
12,173669,Fatime Guerra,Fatima,Guerra,fatima.guerra@acme.com,11524,N,QA,2015-04-02,"Sao Paulo, Brazil",...,N,N,Y,N,N,Y,N,N,Y,N
13,173770,Joseph Osborn,Joseph,Osborn,joseph.osborn@acme.com,11999,N,Talent Acquisition,2004-12-01,"New York, NY",...,N,N,N,Y,N,Y,N,N,N,Y
14,173771,Nora Sanchez,Nora,Sanchez,nora.sanchez@acme.com,11888,N,Partnerships & Alliances,2010-01-08,"New York, NY",...,N,N,N,N,Y,Y,N,N,N,Y
15,173772,Derek Eaton,Derek,Eaton,derek.eaton@acme.com,11678,N,Accounting,2019-06-01,"Beijing, China",...,Y,N,N,N,N,N,Y,N,N,N
16,173773,Karlie Hartman,Karlie,Hartman,karlie.hartman@acme.com,11900,N,Field,2003-03-05,"Beijing, China",...,N,Y,N,N,N,Y,Y,N,N,N
17,173774,Killian Bryan,Killian,Bryan,killian.bryan@acme.com,11244,N,QA,2018-05-05,"Tokyo, Japan",...,N,N,Y,N,N,N,Y,N,N,N
18,173775,Guillermo Josph,Guillermo,Joseph,guillermo.joseph@acme.com,11322,N,Learning & Development,2019-06-01,"Toronto, Canada",...,N,N,N,Y,N,Y,N,N,N,Y
19,173776,Hafiz Luna,Hafiz,Luna,hafiz.luna@acme.com,11544,N,Digital,2016-02-01,"London, UK",...,N,N,N,N,Y,Y,N,Y,N,N
20,173777,Kate Huffman,Kate,Huffman,kate.huffman@acme.com,16577,N,Accounting,2018-10-02,"Buenos Aires, Argentina",...,Y,N,N,N,N,Y,N,N,Y,N
21,173778,Danielle West,Danielle,West,danielle.west@acme.com,18395,N,Field,2003-12-01,"Los Angeles, CA",...,N,Y,N,N,N,N,N,N,N,Y
22,173779,Alex Pace,Alex,Pace,alex.pace@acme.com,19835,N,Supply Chain,2003-12-01,"Los Angeles, CA",...,N,N,Y,N,N,N,N,N,N,Y
23,173780,Jamie Carr,Jamie,Carr,jamie.carr@acme.com,12245,N,Talent Acquisition,2018-07-01,"Toronto, Canada",...,N,N,N,Y,N,Y,N,N,N,Y
24,173781,Natalya Lucero,Natalya,Lucero,natalya.lucero@acme.com,14556,N,Digital,2018-10-01,"New York, NY",...,N,N,N,N,Y,Y,N,N,N,Y

In [34]:
csv_file = "User_File_Acme_"+date.today().strftime('%Y%m%d')+'.csv'

In [35]:
csv.to_csv(csv_file,index=False) ##CSV file to Server

In [36]:
csv.to_excel("User_file template_TIC_update_"+date.today().strftime('%Y%m%d')+ '.xlsx', index = False) ##Updated User Excel

In [37]:
rules.to_excel("BusinessRules Template_TIC_update_"+date.today().strftime('%Y%m%d')+ '.xlsx', index = False) ##Updated Rules Excel

## 10. Sending Data to AWS sSTP Linux Server

In [38]:
import subprocess

In [39]:
pem = r"c:\Users\guibo\OneDrive\Área de Trabalho\Degreed\LightsailDefaultKey-us-east-1.pem"
csv2server = 'c:\\Users\\guibo\\OneDrive\\Área de Trabalho\\Degreed\\'  + csv_file
host = 'ec2-user@3.235.6.48:~'

In [40]:
subprocess.run(["scp","-i", pem, csv2server, host])

CompletedProcess(args=['scp', '-i', 'c:\\Users\\guibo\\OneDrive\\Área de Trabalho\\Degreed\\LightsailDefaultKey-us-east-1.pem', 'c:\\Users\\guibo\\OneDrive\\Área de Trabalho\\Degreed\\User_File_Acme_20200520.csv', 'ec2-user@3.235.6.48:~'], returncode=0)